[Desktop Entry]
Version=1.0
Type=Application
Name=gpicann
GenericName=Screenshot Annotator
Comment=Screenshot annotation tool
Exec=gpicann %f
TryExec=gpicann
Terminal=false
Categories=Graphics;
Encoding=UTF-8
Keywords=graphic;
MimeType=image/png;
